.custom-tab {
    height: 25vh;
 
  }
  .filebuton{
    margin-bottom: 2%;
  }
.controlsaudio{
    margin-top: 2%;
    display: grid!important;
    grid-template-columns: 20% 20%;

  }
  .controlsaudio button{
    margin-left: 5%;
  }
  
