<div class="barra">
  <p>
    <mat-toolbar color="">

      <button mat-icon-button *ngIf="sidenav.mode==='over'" (click)=sidenav.toggle()>
        <mat-icon *ngIf="!sidenav.opened"> menu</mat-icon>
        <mat-icon *ngIf="sidenav.opened">close</mat-icon>

      </button>

      <span class="example-spacer"> IVR Disigner</span>

    </mat-toolbar>
  </p>
</div>


<!--Este es la barra lateral-->
<mat-sidenav-container class="example-container, ml-3">
  <mat-sidenav #sidenav="matSidenav" mode="side" opened>
    <span> <img class="avatar mat-elevation-z20" src="./assets/log.png"> </span>
    <mat-list>
      <mat-list-item> <button mat-button class="menu-button" (click)="guardar()" >
         <h3>  Add IVR  </h3>
        </button></mat-list-item>

      </mat-list>
  </mat-sidenav>


  <!--Pagina -->
  <mat-sidenav-content class="px-3">
    <app-tablaivr > </app-tablaivr>
   
  </mat-sidenav-content>
</mat-sidenav-container>

