#tabl{
 margin: 7%;
 margin-top: 0%;
}

.c1{
    display: grid;
    grid-template-columns: 100%;
    justify-items: end!important;

}
#b1{
    width: 36%!important;
    
}


mat-sidenav-container{
    height: calc(95vh - 65px);
  
}
mat-toolbar{
    background:#03045E;
    color:whitesmoke;
    height: 60px;
}

/* mat-sidenav{
    margin: 10px;
    width: 200px;
    border-right: none;
    background-color:#99E89D ;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
} */
.avatar{
    width: 150px;
    height: 50px;

}
.nombre{
    margin-top: 8px;
    font-weight: normal;
    text-align: center;
}
.menu-button{
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1rem;


}
.content{
    height: auto;
    border-radius: 10px;
    margin: 2px;
    display:flex;
    font-size: 2rem;
    color:black;
    width: auto;
}
mat-divider{
    margin-top: 16px;
    margin-bottom: 16px;
    background-color: white;
}
.barra{
    border-radius: 80%;
}

#boton{
    height: 40px;
    width: 120px;
    background: #ffffff !important;
    color: black;
}

#boton:hover{
    height: 40px;
    width: 120px;
    background: #03045E !important;
    color: #ffffff;
}