<div class="barra">
  <p>
    <mat-toolbar>
      <!-- <span> <img class="avatar mat-elevation-z9" src="./assets/log.png"> </span> -->
      <span> <h2 style="font-family: 'Trebuchet MS';"> Diseñador de Ivr</h2> </span> 
      

    </mat-toolbar>
  </p>
</div>


<!--Este es la barra lateral-->
<mat-sidenav-container class="example-container, ml-3">
<mat-sidenav #sidenav="matSidenav" mode="side" opened>

  </mat-sidenav>


  <!--Pagina -->

  <mat-sidenav-content class="px-5">
    
 
        <button type="button"  (click)="guardar()" id="boton" class="btn btn-outline-info" style="margin-bottom: 5px;margin-left: 88%; ">Add IVR </button>
         
       

    
    <app-tablaivr > </app-tablaivr>
   
  </mat-sidenav-content>
</mat-sidenav-container>

