<h1 mat-dialog-title> Transferencia de llamda</h1>
<mat-divider></mat-divider>

<h4 mat-dialog-title> Introduzca el numero deseado</h4>
<mat-divider></mat-divider>
<input type="tel">

<h4 mat-dialog-title> Indique que tiempo tiene que transcurrir antes de finalizar la llamada</h4>
<label for="">Introzca el tiempo de espera</label>
<mat-divider></mat-divider>
<input type="number" id="">

<h4 mat-dialog-title> Introduzca un Audio</h4>
<mat-divider></mat-divider>
<input type="file">


<div mat-dialog-actions>
    <button mat-flat-button color="primary"(click)="close()">Close</button>
   
    <button  mat-flat-button color="primary" (click)="aceptar()">Aceptar</button>
</div>
