<div mat-dialog-title>Confirmar</div>
<div mat-dialog-content>
    
        <label for="">Nombre:</label> <br>
        <input type="text" id="" >
        <br>
        <label for="">Numero asociado</label> <br>

        <input type="number" id="">
        
         <br>
        <label for="">Fecha:</label> <br>
        <input type="datetime-local" id="">

</div>
<div mat-dialog-actions>
    <button mat-flat-button color="primary"(click)="close()">Close</button>
   
    <button mat-button (click)="onUpload()" >Aceptar</button>
</div>