<div mat-dialog-title>Confirmar</div>
<div mat-dialog-content>
    
        <label for="">Nombre:</label> <br>
        <input type="text" id="" [(ngModel)]="nombre" >
        <br>
        <label for="">Numero asociado</label> <br>
        

        <input type="number" id=""  [(ngModel)]="numero">
        
       
</div>
<div mat-dialog-actions>
    <button mat-flat-button (click)="close()">Close</button>
   
    <button mat-flat-button color="primary" (click)="guardarIvr()" >Aceptar</button>
</div>