.custom-tab {
    height: 25vh;
    margin-top: 10%;
  }
  .filebuton{
    margin-bottom: 2%;
  }
.controlsaudio{
    margin-top: 2%;
    display: grid!important;
    grid-template-columns: 20% 20%;

  }
  .controlsaudio button{
    margin-left: 5%;
  }
  
.mat-mdc-form-field{
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    
}