<h1 mat-dialog-title> Transferencia de llamada</h1>
<div mat-dialog-content>

  <mat-tab-group>

    <mat-tab label="">
      <mat-tab-group>
        <mat-tab label="# Telefono">
          <div class="custom-tab">
            <h4 mat-dialog-title> Introduzca el número deseado</h4>

            <input type="tel"  [(ngModel)]="data.numerocell" (change)="revisarEstado()">
          </div>
        </mat-tab>


        <mat-tab label="Tiempo de espera">
          <div class="custom-tab">
            <h4 mat-dialog-title> Indique que tiempo tiene que transcurrir antes de finalizar la llamada</h4>
            <label for="">Introduzca el tiempo de espera</label>

            <input type="number" id="" [(ngModel)]="data.tiempoespera" (change)="revisarEstado()">
          </div>
        </mat-tab>
        
        <mat-tab label="Audio">
          <div class="custom-tab">
            <button type="button" mat-raised-button (click)="fileInput.click()" class="filebuton">Choose File</button>
            <input hidden (change)="onFileSelected($event)" #fileInput type="file" id="file"
              [(ngModel)]="data.audiodata">
            <h4>{{data.audiodata}}</h4>
            <div class="controlsaudio" *ngIf="variablenula">
              <button mat-raised-button color="primary" (click)="playAudio()" [disabled]="!controlaudio"><svg
                  xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                  class="bi bi-play-circle" viewBox="0 0 16 16">
                  <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                  <path
                    d="M6.271 5.055a.5.5 0 0 1 .52.038l3.5 2.5a.5.5 0 0 1 0 .814l-3.5 2.5A.5.5 0 0 1 6 10.5v-5a.5.5 0 0 1 .271-.445z" />
                </svg></button>
              <button mat-raised-button color="primary" (click)="stopAudio()" [disabled]="controlaudio"><svg
                  xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-stop-fill"
                  viewBox="0 0 16 16">
                  <path
                    d="M5 3.5h6A1.5 1.5 0 0 1 12.5 5v6a1.5 1.5 0 0 1-1.5 1.5H5A1.5 1.5 0 0 1 3.5 11V5A1.5 1.5 0 0 1 5 3.5z" />
                </svg></button>
            </div>
          </div>
        </mat-tab>

      </mat-tab-group>
    </mat-tab>
  
  </mat-tab-group>
</div>

<div mat-dialog-actions>
  <button mat-flat-button color="primary" (click)="close()">Close</button>

  <button mat-button [mat-dialog-close]="data" (click)="stopAudio()" [disabled]="change"cdkFocusInitial>Aceptar</button>
</div>