<div class="barra">
  <p>
    <mat-toolbar color="primary">

      <button routerLink="/home" style="margin-left: 88%;" type="button" class="btn btn-outline "
        style="margin-bottom: 5px;margin-left: 88%;">
        <h2 style="color: white;"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
            class="bi bi-house-check" viewBox="0 0 16 16">
            <path
              d="M7.293 1.5a1 1 0 0 1 1.414 0L11 3.793V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v3.293l2.354 2.353a.5.5 0 0 1-.708.708L8 2.207l-5 5V13.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 1 0 1h-4A1.5 1.5 0 0 1 2 13.5V8.207l-.646.647a.5.5 0 1 1-.708-.708L7.293 1.5Z" />
            <path
              d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7Zm1.679-4.493-1.335 2.226a.75.75 0 0 1-1.174.144l-.774-.773a.5.5 0 0 1 .708-.707l.547.547 1.17-1.951a.5.5 0 1 1 .858.514Z" />
          </svg> Home </h2>
      </button>

    </mat-toolbar>
  </p>
</div>

<!--Este es la barra lateral-->
<mat-sidenav-container class="example-container">
  <!--Pagina -->
  <mat-sidenav-content>

    <div class="content mat-elevation-z4">
      <div class="d-flex justify-content-center">
        <div class="d-flex flex-column " style="min-height:calc(88vh - 65px);">
          <div class="menu-title justify-content-center d-flex">
            <h2 class=".fs-8, display-15 justify-content-center  ">Diseñe un sistema de voz interactivo</h2>
          </div>
          <div>
          </div>

          <div *ngFor="let elemento of bienvenidaelement; let i = index" class="menuedicion">
            <div *ngIf="   elemento.idivr == this.idivr">
              <div *ngIf="elemento.mess !isEmpty">
                <label class="subtl" style="margin-right: 2px;">Mensaje de bienvenida: {{ elemento.mess}} </label>
                <button mat-flat-button color="primary" style="margin-left: 9px;"
                  (click)="openDialog('bienveida',elemento.id)" class="buttoned">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-trash3-fill" viewBox="0 0 16 16">
                    <path
                      d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z" />
                  </svg>
                </button>
                <button mat-flat-button color="primary" style="margin-left: 9px;" (click)=" Bienvenida(elemento.id)"
                  class="buttoned">
                  Edit</button>
              </div>
            </div>
            <div *ngIf="   elemento.idivr == this.idivr">
              <div *ngIf="elemento.musica !isEmpty">
                <label class="subtl">Audio de bienvenida: {{ elemento.musica}}</label>
                <button mat-flat-button color="primary" style="margin-left: 9px;"
                  (click)="openDialog('bienveida',elemento.id)" class="buttoned">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-trash3-fill" viewBox="0 0 16 16">
                    <path
                      d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z" />
                  </svg>
                </button>
                <button mat-flat-button color="primary" style="margin-left: 9px;" (click)=" Bienvenida(elemento.id)"
                  class="buttoned">
                  Edit</button>

              </div>
            </div>
          </div>

          <div *ngFor="let elemento of lisTexto; let i = index" class="menuedicion">
            <div *ngIf="   elemento.idivr == this.idivr">
              <div *ngIf="   elemento.contenido !isEmpty">
                <label class="subtl" style="margin-right: 2px;"> Mensaje: {{elemento.contenido}}</label>
                <button mat-flat-button color="primary" style="margin-left: 9px;"
                  (click)="openDialog('texto',elemento.id)" class="buttoned">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-trash3-fill" viewBox="0 0 16 16">
                    <path
                      d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z" />
                  </svg>
                </button>
                <button mat-flat-button color="primary" style="margin-left: 9px;" (click)="Texto(elemento.id)"
                  class="buttoned">
                  Edit</button>
              </div>
            </div>
          </div>

          <div *ngFor="let elemento of tiempoes; let i = index" class="menuedicion">
            <div *ngIf="   elemento.idivr == this.idivr">
              <div *ngIf="elemento.tiempo !isEmpty">
                <label class="subtl" style="margin-right: 3px;"> Tiempo espera: {{ elemento.tiempo}} </label>
                <button mat-flat-button color="primary" style="margin-left: 9px;" (click)="openDialog('ti',elemento.id)"
                  class="buttoned">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-trash3-fill" viewBox="0 0 16 16">
                    <path
                      d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z" />
                  </svg>
                </button>
                <button mat-flat-button color="primary" style="margin-left: 9px;" (click)="tiempoe(elemento.id)"
                  class="buttoned">
                  Edit</button>
              </div>
            </div>

            <div *ngFor="let elemento of audioss; let i = index" class="menuedicion">
              <div *ngIf="   elemento.idivr == this.idivr">
                <div *ngIf="elemento.audios !isEmpty">
                  <label class="subtl"> Transfrerencia a :{{elemento.audios}}</label>
                  <button mat-flat-button color="primary" style="margin-left: 9px;"
                    (click)="openDialog('audios',elemento.id)" class="buttoned">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                      class="bi bi-trash3-fill" viewBox="0 0 16 16">
                      <path
                        d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z" />
                    </svg>
                  </button>
                  <button mat-flat-button color="primary" style="margin-left: 9px;" (click)=" Audio(elemento.id)"
                    class="buttoned">
                    Edit</button>

                </div>
              </div>
            </div>
            <div *ngFor="let elemento of transferencia; let i = index" class="menuedicion">
              <div *ngIf="   elemento.idivr == this.idivr">
                <div *ngIf="elemento.numeroTelf !isEmpty">
                  <label class="subtl"> Transfrerencia a :{{elemento.numeroTelf}}- {{elemento.melodia}}-
                    {{elemento.tiempoEspera}}</label>
                  <button mat-flat-button color="primary" style="margin-left: 9px;"
                    (click)="openDialog('transferencia',elemento.id)" class="buttoned">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                      class="bi bi-trash3-fill" viewBox="0 0 16 16">
                      <path
                        d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z" />
                    </svg>
                  </button>
                  <button mat-flat-button color="primary" style="margin-left: 9px;"
                    (click)=" transferenciaLLamada(elemento.id)" class="buttoned"> Edit</button>

                </div>
              </div>
            </div>

          </div>

        </div>

        <div
          style="margin-top: 28rem;text-align: end; margin-left: 60%; margin-inline-end: 30px ; text-align: end; margin-right: 5px; margin-inline-end: 30px; position: fixed;">
          <button type="button" mat-button style="margin-right: 9px;" routerLink="/home">Cancelar</button>
          <button mat-flat-button color="primary" style="margin-left: 9px;" (click)="generarXml()"  routerLink="/home" >Guardar</button>

        </div>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>