<h2 mat-dialog-title>Modificar Elemento</h2>
<mat-dialog-content>
  <form>
    <!-- Representar los campos del elemento que deseas modificar -->
    <input name="campo1" [(ngModel)]="nuevoValor.campo1" [ngModelOptions]="{standalone: true}" placeholder="Campo 1">
    <!-- ... -->
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="cancelar()">Cancelar</button>
  <button mat-button color="primary" (click)="guardarCambios()">Guardar Cambios</button>
</mat-dialog-actions>
