
<h1 mat-dialog-title> Configuracion de audio</h1>

<mat-divider></mat-divider>
<input type="file" style="width: 95%; margin-top: 6px; margin-left: 7px; font-weight: 100px;">
<br>
<button mat-flat-button color="primary" style="margin-left: 10px; margin-top: 6px;text-align: center;font-size: 10px;">
<h4> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-fast-forward-circle-fill" viewBox="0 0 16 16">
    <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16ZM4.79 5.093 8 7.386V5.5a.5.5 0 0 1 .79-.407l3.5 2.5a.5.5 0 0 1 0 .814l-3.5 2.5A.5.5 0 0 1 8 10.5V8.614l-3.21 2.293A.5.5 0 0 1 4 10.5v-5a.5.5 0 0 1 .79-.407Z"/>
</svg> Play  </h4>
</button>
<div mat-dialog-content>


 
</div>
<div mat-dialog-actions>
    <button mat-flat-button color="primary"(click)="close()">Close</button>
   
    <button  mat-flat-button color="primary" (click)="aceptar()">Aceptar</button>
</div>