<h1 mat-dialog-title> Tiempo de espera </h1>
<mat-divider></mat-divider>


<h4 mat-dialog-title> Indique que tiempo tiene que transcurrir antes de finalizar la llamada</h4>
<label for="">Introduzca el tiempo de espera</label>
<mat-divider></mat-divider>
<input type="number" id="" [(ngModel)]="data.tiempoespera">

<div mat-dialog-actions>
    <button mat-flat-button color="primary"(click)="close()">Close</button>
   
    <button mat-button [mat-dialog-close]="data.tiempoespera" cdkFocusInitial>Aceptar</button>
</div>
