/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-mdc-form-field{ 
    width: 100%;  
}
.custom-tab {
    height: 25vh;
    width: 100%;  
  }
  .custom-tab-audio{
    height: 25vh!important;
    margin-top: 10%;
  }
  .filebuton{
    margin-bottom: 2%;
  }
.controlsaudio{
    margin-top: 2%;
    display: grid!important;
    grid-template-columns: 20% 20%;

  }
  .controlsaudio button{
    margin-left: 5%;
  }
  mat-form-field{
    margin-top: 10%;
  }