
<div mat-dialog-content >
<mat-tab-group>
    <mat-tab label="Tiempo de espera"><h4 mat-dialog-title> Indique que tiempo tiene que transcurrir antes de finalizar la llamada</h4>
        <label for="">Introduzca el tiempo de espera</label>
        <mat-divider></mat-divider>
        <input type="number" id="" [(ngModel)]=" timemensaje.tiempo" (change)="evaluar()"></mat-tab>
     
</mat-tab-group>
</div>




<div mat-dialog-actions>
    <button  mat-button  (click)="close()">Close</button>
   
    <button mat-flat-button color="primary" [mat-dialog-close]="timemensaje"[disabled]="estado" >Aceptar</button>
</div>
